body {
	width: 800px;
	height: 800px;
	background-image: url("pozadina.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden
}

#forma {
	background: grey;
	margin: auto;
	margin-top: 35%;
	margin-left: 85%;
	width: 200px;
	height: 200px;
	border: 3px solid;
	padding: 10px;
}

#formaReg {
	background: grey;
	margin: auto;
	margin-top: 35%;
	margin-left: 85%;
	width: 200px;
	height: 250px;
	border: 3px solid;
	padding: 10px;
}

#inputUsername {
	width: 100%;
	padding: 2px;
	margin-top: 10%;
}

#inputRePassword {
	margin-top: 13%;
	width: 100%;
	padding: 2px;
}

#inputPassword {
	margin-top: 13%;
	width: 100%;
	padding: 2px;
}

#dugme {
	margin-top: 13%;
	width: 70%;
	padding: 2px;
	margin-left: 13%;
}

#link {
	color: black;
	width: 70%;
	padding: 2px;
	margin-left: 24%;
}

#linkReg {
	color: black;
	width: 70%;
	padding: 2px;
	margin-left: 37%;
}